.LOFT-REDUX-LMC-1-hex {
  color: #353d40;
}
.LOFT-REDUX-LMC-2-hex {
  color: #d9d9d9;
}
.LOFT-REDUX-LMC-3-hex {
  color: #a1a5a6;
}
.LOFT-REDUX-LMC-4-hex {
  color: #f2b138;
}
.LOFT-REDUX-LMC-5-hex {
  color: #003f63;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-block: 8px;
}

input {
  padding: 4px;
  outline: none;
  border: 2px solid #d9d9d9;
}

input:hover {
  border-color: #353d40;
}

input:focus {
  border-color: #f2b138;
}

button {
  margin-block: 8px;
  padding: 8px;
  background-color: #a1a5a6;
  color: white;
  border: 2px solid #a1a5a6;
  border-radius: 4px;
  outline: none;
}

button:focus {
  border-color: #f2b138;
}

button:hover {
  background-color: #003f63;
  border-color: #003f63;
}

#save-button {
  margin: 0;
  position: absolute;
  right: 18px;
  top: 18px;
}

.Header {
  color: #f2b138;
  background-color: #353d40;
  padding-inline: 32px;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 18px;
  background-color: #353d40;
}

.no-display {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
